:root {
  --color-primary: #1a1a1a;
  --color-secondary: #e52b34;
  --color-white: #fff;
  --color-black: #000;
  --color-gray: #777;
  --color-light-gray: #eee;
  
  --fade-white: rgba(255, 255, 255, .7);
  --extraFade-white: rgba(255, 255, 255, .5);

  // Logo color
  --color-logo: #959393;

  // Color shades
  --color-black-light: rgba(0, 0, 0, .3);
  --color-black-medium: rgba(0, 0, 0, .8);
}