.btn {
  &:link,
  &:visited {
    padding: 1em 3em;
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    color: var(--color-black);
    border-radius: 2px;
  }

  &--white {
    background: var(--color-white);
  }
}