.section-aboutContent {
  padding: 3em 1em;
  display: grid;

  .subHeading {
    order: -1;
    margin-bottom: -.5em;
  }

  .paragraph {
    margin-top: 1.5em;
  }
}

.section-showcase {
  background: url("../images/bg_3.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  padding: 8em 0;
  position: relative;

  &__content {
    width: 90%;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    
    & .section-heading,
    & .paragraph {
      font-size: 2rem;
      color: var(--color-white);
      position: relative;
      z-index: 2;
      text-transform: capitalize;
    }
    
    & .paragraph {
      font-size: 1.2rem;
      text-transform: uppercase;
      order: -1;
    }
  }
}

.section-menu {
  padding: 8em 0;
}

.section-customer {
  height: 44rem;
  background: url(../images/bg_5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  & .section-heading {
    font-size: 2.5rem;
    margin-bottom: 2em;
  }

  & .subHeading {
    order: -1;
    margin-bottom: -.5em;
  }
} 

.section-chef {
  padding: 9em 0;
  text-align: center;
  background-color: #fafafa;
  display: grid;
  grid-template-columns: 1em 1fr 1em;
  position: relative;
  z-index: -1;

  & > * {
    grid-column: 2 / -2;
  }

  & .subHeading {
    order: -1;
    margin-bottom: -.5em;
  }

  & .section-heading {
    margin-bottom: 3em;
  }
}

.section-ingredients {
  margin: 0 1em 5em;
  max-width: 100%;
}

.ingredients__image {
  display: flex;
  justify-content: center;

  &-1,
  &-2 {
    height: 700px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    min-width: 50%;
  }
  
  &-1 {
    background-image: url(../images/bg_6.jpg);
  }
  
  &-2 {
    background-image: url(../images/bg_4.jpg);
  }

}

.ingredients__content {
  margin: 2em 0;
  display: grid;
  grid-template-columns: 1fr;

  & .subHeading {
    order: -1;
    margin-bottom: -.5em;
  }
}

.section-blog {
  padding: 10em 1em;
  background-color: var(--color-background);
  display: grid;
  grid-template-columns: 1fr;
  position: relative;
  z-index: -1;

  & .section-heading,
  & .subHeading {
    text-align: center;
  }

  & .subHeading {
    order: -1;
    margin-bottom: -.5em;
  }
}

.section-reminder {
  color: var(--color-white);
  background-color: var(--color-secondary);
  padding: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -2.5em;

  &__heading {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }

}